DASHSCOPE_API_KEY=your-api-key
OPENAI_BASE_HTTP_API_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
OPENAI_API_KEY=your-api-key
EVERYDAY_LOG_CONFIG_PATH=./data/config.toml
AGENTSCOPE_DISABLE_CONSOLE_OUTPUT=True